* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-image: url('../images/background/page.jpg');
}

#navLinks {
    text-align: left;
    margin-left: 50px;
    margin-top: 25px;
}

#navLinks li {
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}

#navLinks li a img.a-logo {
    height: 33px;
    width: 33px;
}

#title {
    color: rgba(54, 68, 45, 0.747);
    font-family: 'Berkshire Swash', cursive;
    font-size: xx-large;
    top: 0;
    text-align: center;
    margin-top: 20px;
}

#mainbody {
    width: 100vw;
    height: 80%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

#mainbody > div {
    font-family: 'Supermercado One', cursive;
    border: 5px solid black;
    background-color: beige;
    padding: 10px;
    flex-basis: 190px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 25px;
}

#towerinfo li {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 18px;
}

.title {
    font-family: 'Supermercado One', cursive;
    font-weight: bold;
    font-size: 20px;
}

#towerinfo ul {
    margin-bottom: 2px;
}

#game-canvas {
    width: 800px;
    height: 600px;
    border: 5px solid black;
}

#game-canvas:hover {
    cursor: pointer;
}

#instructions li {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 2px;
    list-style-type: none;
    margin-bottom: 10px;
}

#instructions h2 {
    margin-bottom: 5px;
}

#instructions * {
    margin-left: 3px;
}